@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scroll-behavior: smooth;
  user-select: none;
}

/* SwiperJs Custom Navigation Btn */
.swiper-button-next,
.swiper-button-prev {
  background-color: transparent !important;
  right: 10px !important;
  padding: 30px !important;
  color: #00000020 !important;
  fill: #00000020 !important;
  stroke: #00000020 !important;
  transition: all ease-in-out 150ms;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #00000060 !important;
  fill: #00000060 !important;
  stroke: #00000060 !important;
}

/* Mui Custom Styles */
.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiAccordion-root.MuiAccordion-rounded.MuiAccordion-gutters.css-1086bdv-MuiPaper-root-MuiAccordion-root {
  box-shadow: none !important;
  background: transparent !important;
  border: none !important;
  outline: none !important;
}
